MYSQLDB_HOST=localhost
MYSQLDB_PORT=3306
MYSQLDB_USER=root
MYSQLDB_DATABASE=test
MYSQLDB_PASSWORD=root
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=sistema_turnos
PUBLIC_KEY=publickey
API_USERNAME=username
API_USERPASSWORD=password
APP_KEY_ENCRYPTION=encryptionkey
APP_METHOD_ENCRYPTION=aes-256-ecb